<a href="https://colab.research.google.com/github/AlexNoonan-Syracuse/lab3/blob/main/BigDataLab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fuzzymatcher

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
from pandas.io.html import read_html
import fuzzymatcher

# Obtain data and understand elements
csvURL = "https://raw.githubusercontent.com/2SUBDA/IST_718/master/Coaches9.csv"

coaches = pd.read_csv(csvURL)
#print(coaches.isna().sum())

#print(coaches.head())

coaches['Conference'] = coaches['Conference'].str.replace('Ind.', 'Independent')
coaches['Conference'] = coaches['Conference'].str.replace('Mt. West', 'Mountain West')
# cleaning and changing dtype of numeric columns
coaches['SchoolPay'] = coaches['SchoolPay'].str.replace(',', '')
coaches['SchoolPay'] = coaches['SchoolPay'].str.replace('$', '')
coaches['SchoolPay'] = coaches['SchoolPay'].str.replace('--', '')
coaches['SchoolPay'] = pd.to_numeric(coaches['SchoolPay'])

coaches['TotalPay'] = coaches['TotalPay'].str.replace(',', '')
coaches['TotalPay'] = coaches['TotalPay'].str.replace('$', '')
coaches['TotalPay'] = coaches['TotalPay'].str.replace('--', '')
coaches['TotalPay'] = pd.to_numeric(coaches['TotalPay'])

coaches['Bonus'] = coaches['Bonus'].str.replace(',', '')
coaches['Bonus'] = coaches['Bonus'].str.replace('$', '')
coaches['Bonus'] = coaches['Bonus'].str.replace('--', '')
coaches['Bonus'] = pd.to_numeric(coaches['Bonus'])
coaches['Bonus'] = coaches['Bonus'].fillna(0)

coaches['BonusPaid'] = coaches['BonusPaid'].str.replace(',', '')
coaches['BonusPaid'] = coaches['BonusPaid'].str.replace('$', '')
coaches['BonusPaid'] = coaches['BonusPaid'].str.replace('--', '')
coaches['BonusPaid'] = pd.to_numeric(coaches['BonusPaid'])
coaches['BonusPaid'] = coaches['BonusPaid'].fillna(0)

coaches['AssistantPay'] = coaches['AssistantPay'].str.replace(',', '')
coaches['AssistantPay'] = coaches['AssistantPay'].str.replace('$', '')
coaches['AssistantPay'] = coaches['AssistantPay'].str.replace('--', '')
coaches['AssistantPay'] = pd.to_numeric(coaches['AssistantPay'])

coaches['Buyout'] = coaches['Buyout'].str.replace(',', '')
coaches['Buyout'] = coaches['Buyout'].str.replace('$', '')
coaches['Buyout'] = coaches['Buyout'].str.replace('--', '')
coaches['Buyout'] = pd.to_numeric(coaches['Buyout'])
coaches['Buyout'] = coaches['Buyout'].fillna(0)

print(coaches.head())

In [ ]:
# pulling in other data sources

#stadium capacity

page = 'https://www.collegegridirons.com/comparisons-by-capacity/'
table1 = read_html(page, index_col=0, attrs={"class":"tableizer-table"})
df1 = pd.DataFrame(table1[0])

df1.dtypes

In [60]:
#win rates 
table2 = read_html('https://www.ncaa.com/stats/football/fbs/current/team/742')
#wikitables = read_html(page, index_col=0, infer_types=False, attrs={"class":"wikitable"})
table2 = pd.DataFrame(table2[0])

table3 = read_html('https://www.ncaa.com/stats/football/fbs/current/team/742/p2')
table3 = pd.DataFrame(table3[0])
table4 = read_html('https://www.ncaa.com/stats/football/fbs/current/team/742/p3')
table4 = pd.DataFrame(table4[0])
table2 = table2.append(table3)
df2 = table2.append(table4)
df2['Team'] = df2['Team'].str.replace('App State', 'Appalachian State')
df2['Team'] = df2['Team'].str.replace('Arizona', 'Arizona State')
df2['Team'] = df2['Team'].str.replace('Florida', 'Florida State')
df2['Team'] = df2['Team'].str.replace('Colorado', 'Colorado State')
df2['Team'] = df2['Team'].str.replace('Iowa', 'Iowa State')
df2['Team'] = df2['Team'].str.replace('Boise St.', 'Boise State')
df2['Team'] = df2['Team'].str.replace('Army West Point', 'Army')
#table2.head()
#df2.columns

In [75]:
# grad data 
df3 = pd.read_csv("https://raw.githubusercontent.com/AlexNoonan-Syracuse/lab3/main/26801-0001-Data.tsv", sep="\t")

#print(df3.head())
#print(df3.columns)
# normalizing conference names to join to other dataframes
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Conference USA', 'C-USA')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('American Athletic Conference', 'AAC')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Southeastern Conference', 'SEC')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Pac-12 Conference', 'Pac-12')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Sun Belt Conference', 'Sun Belt')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Mid-American Conference', 'MAC')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Mountain West Conference','Mountain West')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Atlantic Coast Conference','ACC')
df3['CONFNAME_14'] = df3['CONFNAME_14'].str.replace('Big Ten Conference','Big Ten')
df3['SCL_NAME'] = df3['SCL_NAME'].str.replace('Georgia Institute of Technology','Georgia Tech')
df3['SCL_NAME'] = df3['SCL_NAME'].str.replace('University at Buffalo, the State University of New York','Buffalo')
df3['SCL_NAME'] = df3['SCL_NAME'].str.replace('Rutgers, The State University of New Jersey, New Brunswick','Rutgers')
#df3.describe()

In [ ]:
table6 = read_html("https://sports.usatoday.com/ncaa/finances")
df4 = pd.DataFrame(table6[0])
df4.dtypes

In [ ]:
# unique school names for each df 
# coaches, df1, df2, df3, df4
coachesSchoolNames = list(coaches['School'].unique())
df1_SchoolNames = list(df1['College'].unique())
df2_SchoolNames = list(df2['Team'].unique())
df3_SchoolNames = list(df3['SCL_NAME'].unique())
df4_SchoolNames = list(df4['School'].unique())

#main list
#print(coachesSchoolNames)
#print(df1_SchoolNames)

#print(df2_SchoolNames)

#print(df3_SchoolNames)

#print(df4_SchoolNames)

# unique Conference for each df
coachesConfNames = list(coaches['Conference'].unique())
df1_ConfNames = list(df1['Conference'].unique())
# no conference in df2 df2_ConfNames = list(df2['Team'].unique())
df3_ConfNames = list(df3['CONFNAME_14'].unique())
df4_ConfNames = list(df4['Conf'].unique())
#print(coachesConfNames)
#print(df1_ConfNames)
#print(df3_ConfNames)
#print(df4_ConfNames)

In [103]:

# joining coaches to df1
# maybe do some name normalizing instead 

left_on1 = ["School", "Conference"]
right_on1 = ["College", "Conference"]

dfJoined = fuzzymatcher.fuzzy_left_join(coaches,df1, left_on1, right_on1)
dfJoined.sort_values(by='best_match_score', ascending = False)

# removing bad joins and "resetting dataframe"
dfJoined = dfJoined[dfJoined['best_match_score'] > 0.1 ]
dfJoined = dfJoined.drop(columns=['best_match_score', '__id_left', '__id_right', 'College','Conference_right'])
dfJoined = dfJoined.rename(columns={"Conference_left": "Conference"})

# joining df2
left_on2 = ["School"]
right_on2 = ["Team"]
dfJoined = fuzzymatcher.fuzzy_left_join(dfJoined,df2, left_on2, right_on2)
dfJoined = dfJoined[dfJoined['best_match_score'] > 0.05 ]
dfJoined = dfJoined.drop(columns=['best_match_score', '__id_left', '__id_right', 'Team'])

# join main df to df3
right_on3 = ["SCL_NAME", "CONFNAME_14"]

dfJoined = fuzzymatcher.fuzzy_left_join(dfJoined, df3, left_on1, right_on3)
dfJoined = dfJoined[dfJoined['best_match_score'] > 0.1 ]
dfJoined = dfJoined.drop(columns=['best_match_score', '__id_left', '__id_right', 'SCL_NAME', 'CONFNAME_14'])

# join main df to df4

right_on4 = ["School", "Conf"]
dfJoined = fuzzymatcher.fuzzy_left_join(dfJoined, df4, left_on1, right_on4)
dfJoined = dfJoined[dfJoined['best_match_score'] > 0.15 ]
dfJoined = dfJoined.drop(columns=['best_match_score', '__id_left', '__id_right', 'School_right', 'Conf'])

dfJoined.reset_index(inplace=True)
dfJoined = dfJoined.drop(columns=['index'])

In [ ]:
print(len(dfJoined))
# cleaningmain dataframe

In [ ]:
print(len(coaches))

#print(coaches.dtypes)
print(coaches.isna().sum())

#coaches.head()
# na values in Schoolpay and total pay gotta do something with these.
#coaches.loc[coaches['SchoolPay'].isna()]
coaches.loc[coaches['TotalPay'].isna()]

In [ ]:
from IPython.core.pylabtools import figsize
# descriptive statistics

coaches.describe()


codes, values = pd.factorize(coaches['Conference'].unique())
conferenceIds = pd.DataFrame({"Conference":values, "ConferenceCodes":codes})
coaches = pd.merge(left=coaches, right=conferenceIds, left_on="Conference", right_on = "Conference")
coaches.head()

fig, axs = plt.subplots(2, 1, figsize = (10,12))
g1 = sns.scatterplot(x='School', y='SchoolPay', data=coaches, hue='Conference', ec=None, ax=axs[0] )
g1.set(xticklabels=[])
g1.set(title='Pay by School and Conference')
g1.set(xlabel="School")
g1.set(xticks=[])
g1.set(yticks=[])


axs[1].hist(x= coaches['TotalPay'], bins=25)

plt.show()
print(coaches['TotalPay'].min())
print(coaches['TotalPay'].max())

# box plots per conference

In [ ]:
fig, axis = plt.subplots()
axis.set_xlabel('Conference')
axis.set_ylabel('SchoolPay')
axis.set_title("School Pay Per Conference")
conference = sns.boxplot(x="Conference", y="SchoolPay", data=coaches, color = "blue"  );

axis.set_xticklabels(coaches['Conference'].unique())
axis.tick_params(axis="x", labelrotation=45 )
plt.show()